body {
    font-family: "Open Sans", sans-serif;
    color: #4d4643;
  }
  
  a {
    color: #1bbd36;
    text-decoration: none;
  }
  
  a:hover {
    color: #2ae149;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
  }
  /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #1bbd36;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  .back-to-top:hover {
    background: #21df41;
    color: #fff;
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  /*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  #header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  #header .logo a {
    color: #111;
  }
  #header .logo a span {
    color: #1bbd36;
  }
  #header .logo img {
    max-height: 40px;
  }
  /*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
    margin-left: 20px;
    border-left: 1px solid #c4c4c4;
  }
  .header-social-links a {
    color: #a0a0a0;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    padding-left: 20px;
  }
  .header-social-links a i {
    line-height: 0;
  }
  .header-social-links a:hover {
    color: #1bbd36;
  }
  @media (max-width: 768px) {
    .header-social-links {
      padding: 0 15px 0 0;
      border-left: 0;
    }
  }
  